@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

:root {
    --border: 2px solid #f7b267;
    --lightOrange: #f7b267;
}

* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

    body {
        font-family: "Readex Pro", sans-serif;

        background: url("/img/homeBackgroundCreateAccount.jpg");
        background-size: 35%;
        height: 100vh;
    }
    
.screen {
display: flex;
align-items: center;
justify-content: center;
background:  radial-gradient(circle, (transparent, rgba(0,0,0,0.2)));
height: 100%;

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(135deg, #f7b267, #f4845f);
    

    box-shadow: 	
    0px 0px 11px 1px rgba(0,0,0,0.14),
    0px 0px 19px 6px rgba(0,0,0,0.03),
    0px 0px 26px 12px rgba(0,0,0,0.14),
    0px 0px 29px 12px rgba(0,0,0,0.14);

    border:	1rem solid rgba(0,0,0,0.03);
    border-radius:	3.5rem;

    height: 40rem;
    width: 28rem; 
    padding: 1rem;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        h2 {
            color: white;
            font-size: 3em;
        }

        h3 {
            color: #ffffff;
            font-size: 1.2em;
            font-style: italic;
            padding-top: 1em;
            text-transform: uppercase;
            cursor: default;
        }

        h4 {
            color: white;
            font-size: 1.2em;
            text-transform: uppercase;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        
        a {
            color: white;
        }

        p {
            text-align: center;
            color: #ffffff;
            cursor: default;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
            
            & a:hover{
                text-decoration: underline;
            }
        }

        .main-informations input {
        color: white;
        font-weight: bold;
        width: 80%;
        border-radius: 1.25em;
        padding: 0.62em 1.25em;
        margin: 0.6em 0 0;
        border: 2px solid white;
        background: transparent;
        transition: 0.3s;
        outline: none;
        
            &::placeholder {
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            }
        }
    }
} 

.gender div {
position: relative;
display: inline-block;
margin: 0.2rem;

}


.radio {
    input[type="radio"],
    input[type="checkbox"] {
    display: none;
    }

    

label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    
    span {
    background: transparent;

    border: 2px white solid;
    border-radius: 50px;
    padding: 10px 30px;
    
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    }
    
    i {
    position: absolute;
    font-size: 1.8rem;
    padding: 1rem 2rem;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: none;
    }
    
        &:hover {
        span {
            color: transparent;
        }
        
        i {
            display: inline-block;
            color: #fff;
        }
    }
}
}

.form-container .form-content .btn-login {
background: white;
color: #f4845f;

border-radius: 1.87em;
border: 2px solid white;
margin-top: 1.25em;

padding: 0.5rem;
width: 80%;

font-size: 20px;
font-weight: bold;

box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

transition: 0.5s;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 10px white;
    }
}

@media screen and (max-width: 840px) {

    body {
        background-size: 70%;
    }
}
